<div class="card h-100">
  <img src="{{ ' ' }}" class="card-img-top" alt="Gorra Image">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title mb-auto"><b>Name:</b> TITLE</h5>
    <hr>
    <p class="card-text"><b>Price:</b> 20</p>
    <p class="card-text"><b>Category:</b> GORRA</p>
    <p class="card-text"><b>Description:</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
      consequatur facilis nisi possimus maiores? Eum consequuntur beatae expedita quisquam ab totam quo, error, eos quas
      at optio nostrum aliquam delectus.</p>
    <hr>
    <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
  </div>
</div>
