<nav class="navbar navbar-expand-lg mb-4 text-white" style="background-color: #000000;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#"><img class="m-3" width="100px" src="assets/logo.jpg" alt=""></a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/inicio" routerLinkActive="active">Inicio</a>
                </li>
                <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                    <li><a class="nav-link text-white" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a></li>
                    <li><a class="nav-link text-white" routerLink="/register" routerLinkActive="active">Regístrate</a></li>
                </ng-container>
                <ng-template #loggedIn>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/gorras" routerLinkActive="active">Gorras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/raquetas" routerLinkActive="active">Raquetas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/favoritos" routerLinkActive="active">Favoritos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" (click)="authService.logout()">Salir <i class="fa-solid fa-right-from-bracket"></i></a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>
